<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta name="description" content="Free Design Pages">
    <meta name="keywords" content="FDP, Free, Design, Pages,HTML,CSS,JavaScript">
    <meta name="author" content="Christian">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <title>Base - Free Design Pages</title>


    <style media="screen">
        /* general CSS */
        * {
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
        }

        body{
          display: grid;
          place-items: center;
          height: 100vh;
          font-family: arial;
        }

        section#container {
          display: block;
        }
    </style>


    <script type="text/javascript">
      window.onload = () => {
        
      };
    </script>
  </head>
  <body>
    <section id="container">

      <h1>Base</h1>


      <p>Made by <a href="https://github.com/ChristianOliveiraSilva">Christian</a></p>
    </section>
  </body>
</html>
