<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta name="description" content="Free Design Pages">
    <meta name="keywords" content="FDP, Free, Design, Pages,HTML,CSS,JavaScript">
    <meta name="author" content="Christian">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <title>Name of component - Free Design Pages</title>

    <!--
      You can see de complete code here!
    -->
    <link rel="stylesheet" href="teste.css">
    <style media="screen">

    </style>


    <script type="text/javascript">
      window.onload = () => {

      };
    </script>
  </head>
  <body>
    <div class="container">

      <h1>Name of component</h1>



      <p>Made by <a href="https://www.facebook.com/comoeuvimpararaki">Christian</a></p>
    </div>
  </body>
</html>
