/* general CSS */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: arial;
}

div.container{
  flex: 1;
  display: block;
  text-align: center;
}

/* component CSS */
